.userDetails__options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.option__success{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}

.option__close{
    background: transparent;
    border: none;
    font-size: 2.5rem;
    transform: rotateZ(45deg);
    cursor: pointer;
    color: rgb(236, 205, 26);
}

.userDetails__list{
    padding: 0 1rem;
}

.list__name{
    font-size: 1.5rem;
    margin: 0;
}

.list__email{
    font-size: 1.3rem;
    margin: 0;
}